@charset "UTF-8";
body {
	background-color: #000000;
	font-family: Verdana, sans-serif;
	font-size: 16px;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	text-align: center;
}
.wrapper {
	width: 100%;
	bottom: 220px;
}
header {
	margin:10px;
	position:static;
}
#content {
	line-height:30px;
}
#banner {
}
#sponsor {
}
table{
	position:relative
	text-align:center; 
	left:-50%
	width: 100%;	
}
footer {
	position:absolute;
	bottom: 0px;
	text-align:center;
	left: 0;
	right: 0;
	width: 100%;	
}
h2 {
	font-size: 16px;
	font-weight: normal;
}
a {
	color: #fff;
	text-decoration: none;
}
.marquee {
  width: 100%;
  overflow: hidden;
}
.imagecontainer{
	width: 134px;
	height:auto;
	margin: 0 auto;
}
